<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register Page</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	<link rel="stylesheet" type="txt/css" href="css/estilos.css">
</head>

<body>

<div data-role="page">

	<div data-role="header">
		<a href="" data-rel="back">Home</a>
		<h1>Login Page</h1>
	</div>

	<div data-role="content">


		<form method = "post" action="/api/obtenerUsuario"  data-ajax="false">

			<fieldset data-role="fieldcontain">
				<label for="username">Username:</label>
				<input type="text" name="txtUserName" id="txtUserName" value="{{txtUserName}}">
			</fieldset>

			<fieldset data-role="fieldcontain">
				<label for="password">Password:</label>
				<input type="password" name="txtPass" id="txtpass" value="{{txtPass}}">
			</fieldset>




<input type="submit" value="Login">
		</form>

	</div>
	<div class="container1" data-position="fixed">
     <a href="/registro">Eres Nuevo en Royalty.com?</a>
	</div>

	<div>
		 <a href="/">Ereczcs Nuevo en Royalty.com?</a>
	</div>
	<div data-role="footer" data-position="fixed">
			<h1>Royalty Media</h1>
	</div>


</div>

</body>
</html>
